/* navbar.css */
.navbar {
  background-color: white;
  padding: 1rem 1.5rem;
}

.container {
  max-width: 1200px; /* Largeur maximale pour la navbar */
  margin: 0 auto; /* Centre le conteneur */
}

.menu-item {
  position: relative;
  padding: 1rem;
}

.menu-item > button,
.menu-item > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu-item > button:hover,
.menu-item > a:hover {
  color: #e8be69;
}
.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  opacity: 0;
  transform: translateY(10px);
  z-index: 10;
}

.menu-item:hover .submenu,
.menu-item:focus-within .submenu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
.submenu li a:hover {
  color: #e8be69;
}
.submenu li {
  padding: 0.5rem 1rem;
}

.submenu li:hover {
  background-color: #f0f0f0;
}
