@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-image {
  width: 150px; /* Maintain the natural width up to a max width */
  max-width: 100%; /* Prevent the logo from exceeding the width of its container */
  height: auto; /* Maintain aspect ratio */
}
.video-container {
  position: relative;
  width: 100%;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: auto; /* Adjust based on your aspect ratio needs */
}

.full-width-video {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  border: none; /* Remove any borders */
  object-fit: cover; /* Cover the entire area of the container */
}

.centered-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
